* body {
    padding: 0;
    box-sizing: border-box;
    background-image: url(./imagenes/FONDO.png);
    background-size: 100%;
  }
  
  /*PORTADA*/
  
 
 

  
  
  
.portada{
  width: 100%;
}
  
  /*CUENTA REGRESIVA*/
  
  @media (max-width: 730px) {
    
    .cuenta-regresiva {
      display: flex;
      text-align: center;
      justify-content: center;
      gap: 1em;
      padding: 0.8em;
      margin-top: 5%;
      
      
  }
  .cr-time > span {
      font-size: 18px;
      font-weight: bold;
      color:#d40000;
      
  }
  .cr-desc {
      color: #3f3f3f;
      font-family: 'Julius Sans One', sans-serif;
      font-size: 11px;
      font-weight: 700;
      
  }
  .cr-block {
      background: #e3e3e347;
      border-radius: 5px;
      padding: 0.1em 0.5em;
      background-size: 80%;
  }
  .Play{
  
    font-family: 'Julius Sans One', sans-serif;
    font-size: 12px;
    text-align: center;
    margin-top: 2%;
    color: #818181;
    font-weight: 700;
   
   }
    h5{
    font-size: 15px;
    text-align: center;
    margin-top: -5%;
    
    
    }
    .audio{
      width: 35%;
      height: 20px;
      margin-left: 32%;
      background-color:  #ffffff;
      margin-top: -10%;
      
  }

.frase{
  width: 80%;
  margin-left: 11%;
  margin-top: 20%;
}

  .segundo{
width: 17%;
margin-top: -25%;
margin-left: 68%;
  }

  .loader {
    position: relative;
    width: 31px;
    height: 32px;
    perspective: 67px;
    margin-left: 71%;
    margin-top: -25%;
  }
  
  .loader div {
    width: 100%;
    height: 100%;
    background: #ffffffab;
    position: absolute;
    left: 50%;
    transform-origin: left;
    animation: loader 2s infinite;
  }
  
  .loader div:nth-child(1) {
    animation-delay: 0.15s;
  }
  
  .loader div:nth-child(2) {
    animation-delay: 0.3s;
  }
  
  .loader div:nth-child(3) {
    animation-delay: 0.45s;
  }
  
  .loader div:nth-child(4) {
    animation-delay: 0.6s;
  }
  
  .loader div:nth-child(5) {
    animation-delay: 0.75s;
  }
  
  @keyframes loader {
    0% {
      transform: rotateY(0deg);
    }
  
    50%, 80% {
      transform: rotateY(-180deg);
    }
  
    90%, 100% {
      opacity: 0;
      transform: rotateY(-180deg);
    }
  }
  

 .almanaque{
  width: 90%;
  margin-left: 5%;
  margin-top: 50%;
 }
 
.fondo{
  width: 100%;
  margin-top: 20%;
}
.fondo2{
  width: 100%;

}

.parrafo1{
  margin: 15%;
    text-align: center;
   color: #d40000;
    font-size: 224%;
    font-family: 'Julius Sans One', sans-serif;
    margin-top: -370%;
    font-weight: 600;
}


.copas{
  width: 25%;
  margin-left: 36%;
  margin-top: -23%;
}
.sombrero{
  width: 25%;
  margin-left: 38%;
  margin-top: -21%;
}

.linea{
  color:#646464;
  width: 70%;
 margin-left: 15%;
}
.linea2{
  color:#646464;
  width: 70%;
 margin-left: 15%;
}
.linea3{
  color:#646464;
  width: 70%;
 margin-left: 15%;
 margin-top: 4%;
}


.linea4{
  color:#646464;
  width: 70%;
 margin-left: 15%;
 margin-top: 18%;
}

.parrafo2{
    text-align: center;
    color: #333333;
    font-size: 26px;
    font-family: 'Julius Sans One', sans-serif;
    font-weight: 600;
}


.clik {
  margin-left: 34%;
  min-width: 140px;
  height: 50px;
  font-weight: 600;
  font-family: 'Julius Sans One', sans-serif;
  font-family: 35px;
  padding: 5px 10px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  outline: none;
  border-radius: 5px;
  z-index: 0;
  overflow: hidden;
  border: 2px rgb(119, 119, 119);
  color: #b2ebed;
  margin-top: -5%;
  background-image: url(./imagenes/0f24b609bc04816ced4a589a7c859da1.gif);
  background-size: 50%;
}

.boton{
  margin-top: -5%;
}




.parrafo3{
  margin: 15%;
  text-align: center;
 color: #d40000;
  font-size: 224%;
  font-family: 'Julius Sans One', sans-serif;
  margin-top: 25%;
  font-weight: 600;
}

.parrafo4{
  text-align: center;
  color: #333333;
  font-size: 26px;
  font-weight: 600;
  font-family: 'Julius Sans One', sans-serif;
}

.parrafo5{
  margin: 15%;
  text-align: center;
 color: #d40000;
  font-size: 224%;
  font-family: 'Julius Sans One', sans-serif;
  margin-top: 15%;
  font-weight: 600;
}
.parrafo6{
  text-align: center;
  color: #333333;
  font-size: 26px;
  font-weight: 600;
  font-family: 'Julius Sans One', sans-serif;
  margin-top: 1%;
}


.parrafo7{
  margin-top: 3%;
    text-align: center;
    color: #333333;
    font-size: 20px;
    font-family: 'Julius Sans One', sans-serif;
    font-weight: 600;

}




.contenedorboton{
  margin-top: -12%;

}
.boton1{
  margin-top: 1%;
}


.click2{
  margin-left: 26%;
  min-width: 140px;
  height: 50px;
  font-weight: 600;
  font-family: 'Julius Sans One', sans-serif;
  font-family: 40px;
  padding: 5px 10px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  outline: none;
  border-radius: 5px;
  z-index: 0;
  text-decoration: none;
  overflow: hidden;
  border: 2px rgb(119, 119, 119);
  color: #b2ebed;
  margin-top: 1%;
  background-image: url(./imagenes/0f24b609bc04816ced4a589a7c859da1.gif);
  background-size: 50%;
}

.esperamos{
  width: 40%;
  margin-left: 28%;
  margin-top: 23%;
}
}
  
 



.tecla {
margin-top: 40%;
 margin-left: 50%;
}

.box__copyright{
  margin-top: 32%;
}


.box__copyright p {
  margin-top: -10px;
  color: #cacaca;
  font-size: 10px;
  text-align: center;
}

.box__copyright a {
  text-decoration: none;
  color: #c3c3c3;
}


.box__copyright p {
  margin-top: -10px;
  color: #cacaca;
  font-size: 10px;
  text-align: center;
}

.box__copyright a {
  text-decoration: none;
  color: #c3c3c3;
}




.linea4{
    margin-top: -10%;
  color: #838383;
}
.tecla a {
  text-decoration: none;
  width: 30px;
  color: rgb(132, 132, 132);

}

.tecla {
margin-top: -3%;
 margin-left: 50%;
}


.logo{
  width: 25%;
  margin-left: 55%;
  margin-top: -10%;
}


@media screen and (min-width: 1024px){
  .cuenta-regresiva {
    display: flex;
    text-align: center;
    justify-content: center;
    gap: 1em;
    padding: 0.8em;
    margin-top: 1%;
}
.cr-time > span {
    font-size: 20px;
    font-weight: bold;
    color: #606060;
    
}
.cr-desc {
    color: rgb(125, 125, 125);
    font-family: 'Julius Sans One', sans-serif;
    font-size: 15px;
    
}
.cr-block {
    background: #c9c9c92e;
    border-radius: 5px;
    padding: 0.1em 0.5em;
    background-size: 80%;
}
.Play{

  font-family: 'Julius Sans One', sans-serif;
  font-size: 20px;
  text-align: center;
  margin-top: 10%;
  color: #6e6c6e;
 
 }



  h5{
  font-size: 30px;
  text-align: center;
  margin-top: -10%;
  
  
  }
  .audio{
    width: 35%;
    height: 20px;
    margin-left: 32%;
    background-color:  #ffffff;
    color: #4e4e4e;
    margin-top: 5%;
    
}

.segundo{
width: 17%;
margin-top: -29%;
margin-left: 68%;
}


.parrafo1{
  text-align: center;
  font-family: 'Julius Sans One', sans-serif;
     font-size: 30px;
     color: #888888;
     margin-top: 5%;  
}

.linea{
  color:#212121;
  width: 70%;
 margin-left: 15%;
}
.parrafo2{
  text-align: center;
  font-family: 'Julius Sans One', sans-serif;
     font-size: 25px;
     color: #5c5c5c;
     line-height: 30px;
     margin-top: 5%;

}

.css-button-arrow--sand {
  padding: 2px 9px;
  font-size: 25px;
  font-weight: 1200;
  border: none;
  color: rgb(255, 255, 255);
  background-color: #292929;
  border-radius: 7px;
  box-shadow: 2px 2px 30px -5px rgb(170, 170, 170);
  cursor: pointer;
  margin-top: 8%;
  background-size: 50%;
  font-family: 'Julius Sans One', sans-serif;
  
}

.linea2{
  color:#212121;
  width: 70%;
 margin-left: 15%;
 margin-top: 8%;
}

.parrafo3{
  text-align: center;
  font-family: 'Julius Sans One', sans-serif;
     font-size: 30px;
     color: #888888;
     margin-top: 5%;  
     margin-top: 15%;
}

.click_2 {
  padding: 4px 9px;
  font-size: 25px;
  border: none;
  color: rgb(255, 255, 255);
  background-color: #292929;
  border-radius: 7px;
  box-shadow: 2px 2px 30px -5px rgb(170, 170, 170);
  cursor: pointer;
  background-size: 50%;
  font-family: 'Julius Sans One', sans-serif;
  text-decoration: none;
  
}
.boton2 {
  text-align: center;
 margin-top: 8%;
}
.parrafo4{
  text-align: center;
  font-family: 'Julius Sans One', sans-serif;
     font-size: 30px;
     color: #888888;  
     margin-top: 15%;
}


.boton3{
  padding: 4px 9px;
  font-size: 25px;
  font-weight: 1200;
  border: none;
  color: rgb(255, 255, 255);
  background-color: #292929;
  border-radius: 7px;
  box-shadow: 2px 2px 30px -5px rgb(170, 170, 170);
  cursor: pointer;
  background-size: 50%;
  font-family: 'Julius Sans One', sans-serif;
  text-decoration: none;
  margin-top: 8%;
  
}

.collapse p{
  text-align: center;
  font-family: 'Julius Sans One', sans-serif;
     font-size: 20px;
     color: #ffffff;
     background-color: #484848;
     margin-top: 5%;
     margin: 4px;
     padding: 2%;
     background-image: url(./imagenes/gif.gif);
      

}
.linea3{
  color:#212121;
  width: 70%;
 margin-left: 15%;
 margin-top: 10%;
}

.linea4{
  color:#212121;
  width: 70%;
 margin-left: 15%;
 margin-top: 8%;
}
.center {
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wave {
  width: 1px;
  height: 15px;
  background: linear-gradient(45deg, rgb(85, 85, 85), #fff);
  margin: 5px;
  animation: wave 1s linear infinite;
  border-radius: 20px;
  margin-top: 5%;
 
}

.wave:nth-child(2) {
  animation-delay: 0.1s;
}

.wave:nth-child(3) {
  animation-delay: 0.2s;
}

.wave:nth-child(4) {
  animation-delay: 0.3s;
}

.wave:nth-child(5) {
  animation-delay: 0.4s;
}

.wave:nth-child(6) {
  animation-delay: 0.5s;
}

.wave:nth-child(7) {
  animation-delay: 0.6s;
}

.wave:nth-child(8) {
  animation-delay: 0.7s;
}

.wave:nth-child(9) {
  animation-delay: 0.8s;
}

.wave:nth-child(10) {
  animation-delay: 0.9s;
}

@keyframes wave {
  0% {
    transform: scale(0);
  }

  50% {
    transform: scale(1);
  }

  100% {
    transform: scale(0);
  }
}















.tecla {
margin-top: -50%;
margin-left: 50%;
}

.box__copyright{
margin-top: 72%;
}


.box__copyright p {
margin-top: 50px;
color: #cacaca;
font-size: 10px;
text-align: center;
}

.box__copyright a {
text-decoration: none;
color: #c3c3c3;
}


.box__copyright p {
margin-top: -10px;
color: #cacaca;
font-size: 15px;
text-align: center;
}

.box__copyright a {
text-decoration: none;
color: #c3c3c3;
}




.linea4{
  
color: #838383;
}
.tecla a {
text-decoration: none;
width: 35px;
color: rgb(132, 132, 132);

}

.tecla {
margin-top: -3%;
margin-left: 50%;
}


.logo{
width: 15%;
margin-left: 55%;
margin-top: 10%;
}
  
.portada{
  width: 50%;
  margin-left: 25%;
}
}